.auth-form {
    background: var(--bg);
    color: var(--text);
    padding: 2.5rem 2rem;
    max-width: 450px;
    margin: 4rem auto;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
    text-align: left;
  }
 
  .auth-form h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
  }
 
  .auth-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
 
  .auth-form label {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
 
  .auth-form input {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: #000000;
  }
 
  .auth-form input:focus {
    border-color: #f16363;
    outline: none;
    background-color: #000000;
  }
 
  .auth-form p {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.95rem;
  }
 
  .auth-form a {
    color: #ff0000;
    text-decoration: none;
  }
 
  .auth-form a:hover {
    text-decoration: underline;
  }